<div>
  <div ng-show="stats" class="row">
    <div class="col-xs-3 text-center">
      <h3>Number of documents</h3>
      <h4>{{stats.docCount}}</h4>
    </div>
  </div>
  <input class="form-control" type="text" placeholder="Filter results" ng-model="searchText">
  <table class="table">
    <tr ng-repeat="doc in docMetadata | filter:searchText">
      <td ng-repeat="(key, value) in doc">
        <p><strong>{{key}}</strong></p>
        <p>{{value}}</p>
      </td>
    </tr>
    <tr>
      <!-- We can just add in a new row here -->
      <td>
        <input type="text" ng-model="newDoc.active" placeholder="active">
      </td>
      <td>
        <input type="text" ng-model="newDoc.documentType" placeholder="Doc Type">
      </td>
      <td>
        <input type="text" ng-model="newDoc.fileName" placeholder="File Name">
      </td>
      <td>
        <input type="text" ng-model="newDoc.notes" placeholder="Notes">
      </td>
      <td>
        <button class="btn btn-primary" ng-click="addDoc()" ng-disabled="newDocInvalid()">Add Doc</button>
      </td>
    </tr>
  </table>
</div>
